/* Navbar styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}

.logo_div {
  display: flex;
  align-items: center;
}

/* Logo styling */
.logo img {
  width: 3.5vh;
  height: 3.5vh !important;
  height: auto;
}

.logo_text {
  font-family: 'Orbitron', 'Poppins', sans-serif;
  color: white;
  padding-left: 20px;
  font-size: 30px;
  margin: 0 !important;
}

/* Navbar links styling */
.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 40px;
}

/* Styling for individual nav links */
.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 3px;
  transition: color 0.3s ease;
  font-family: 'Orbitron', 'Poppins', sans-serif;
}

.nav-links a:hover {
  color: var(--purple1);
}

/* Hamburger Menu Styling */
.hamburger {
  display: flex;
  cursor: pointer;
  position: relative;
  width: 30px; /* Set width for proper alignment */
  height: 30px; /* Set height for proper alignment */
  transition: transform 0.3s ease; /* Ensure smooth transformation */
}

/* Initially both icons are stacked on top of each other */
.hamburger .menu-icon,
.hamburger .close-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Ensure smooth transition for transform and opacity */
}

/* Initially, only the hamburger (menu) icon is visible */
.hamburger .menu-icon {
  opacity: 1;
  transform: rotate(0deg); /* No rotation */
}

.hamburger .close-icon {
  opacity: 0;
  transform: rotate(45deg); /* Cross icon rotated */
}

/* When the menu is open, swap visibility */
.hamburger.active .menu-icon {
  opacity: 0;
  transform: rotate(-45deg); /* Rotate the hamburger icon */
}

.hamburger.active .close-icon {
  opacity: 1;
  transform: rotate(0deg); /* Reset the cross icon's rotation */
}

/* Show hamburger on mobile */
@media (max-width: 768px) {
  .navbar {
    padding: 20px 20px;
  }
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Nav links for mobile */
  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.983);
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    gap: 0px;
  }

  .nav-links.open {
    display: flex;
    max-height: 300px;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .nav-links a {
    color: #333;
    font-size: 18px;
  }

  .hamburger {
    display: flex;
  }
}
